<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <header>
        <div class="nav-container">
            <a href="{{ url_for('index') }}" class="nav-link">Главная</a>
            {% if not current_user.is_authenticated %}
                <a href="{{ url_for('login') }}" class="nav-link">Login</a>
                <a href="{{ url_for('register') }}" class="nav-link">Register</a>
            {% else %}
                <a href="{{ url_for('profile') }}" class="nav-link">Корзина</a>
                <span class="welcome-message">Welcome, {{ current_user.get_id() }}!</span>
                <form action="{{ url_for('logout') }}" method="get" class="logout-form">
                    <button type="submit" class="logout-button">Logout</button>
                </form>
            {% endif %}
        </div>
    </header>    
    <div class="container">
        <div class="filters">
            <div class="filter" id="size-filter">
                <h3>Size(eu):</h3>
                <select name="size" onchange="applyFilter('size', this.value)">
                    <option value="">All</option>
                    <option value="36" {% if '36' in request.args.getlist('size') %} selected {% endif %}>36</option>
                    <option value="36.5" {% if '36.5' in request.args.getlist('size') %} selected {% endif %}>36.5</option>
                    <option value="37" {% if '37' in request.args.getlist('size') %} selected {% endif %}>37</option>
                    <option value="37.5" {% if '37.5' in request.args.getlist('size') %} selected {% endif %}>37.5</option>
                    <option value="38" {% if '38' in request.args.getlist('size') %} selected {% endif %}>38</option>
                    <option value="38.5" {% if '38.5' in request.args.getlist('size') %} selected {% endif %}>38.5</option>
                    <option value="39" {% if '39' in request.args.getlist('size') %} selected {% endif %}>39</option>
                    <option value="40" {% if '40' in request.args.getlist('size') %} selected {% endif %}>40</option>
                    <option value="40.5" {% if '40.5' in request.args.getlist('size') %} selected {% endif %}>40.5</option>
                    <option value="41" {% if '41' in request.args.getlist('size') %} selected {% endif %}>41</option>
                    <option value="42" {% if '42' in request.args.getlist('size') %} selected {% endif %}>42</option>
                    <option value="42.5" {% if '42.5' in request.args.getlist('size') %} selected {% endif %}>42.5</option>
                    <option value="43" {% if '43' in request.args.getlist('size') %} selected {% endif %}>43</option>
                    <option value="44" {% if '44' in request.args.getlist('size') %} selected {% endif %}>44</option>
                    <option value="44.5" {% if '44.5' in request.args.getlist('size') %} selected {% endif %}>44.5</option>
                    <option value="45" {% if '45' in request.args.getlist('size') %} selected {% endif %}>45</option>
                    <option value="45.5" {% if '45.5' in request.args.getlist('size') %} selected {% endif %}>45.5</option>
                    <option value="46" {% if '46' in request.args.getlist('size') %} selected {% endif %}>46</option>
                    <option value="47" {% if '47' in request.args.getlist('size') %} selected {% endif %}>47</option>
                    <option value="47.5" {% if '47.5' in request.args.getlist('size') %} selected {% endif %}>47.5</option>
                    <option value="48" {% if '48' in request.args.getlist('size') %} selected {% endif %}>48</option>
                    <option value="48.5" {% if '48.5' in request.args.getlist('size') %} selected {% endif %}>48.5</option>
                    <option value="49" {% if '49' in request.args.getlist('size') %} selected {% endif %}>49</option>
                    <option value="49.5" {% if '49.5' in request.args.getlist('size') %} selected {% endif %}>49.5</option>
                    <option value="50" {% if '50' in request.args.getlist('size') %} selected {% endif %}>50</option>
                    <option value="50.5" {% if '50.5' in request.args.getlist('size') %} selected {% endif %}>50.5</option>
                    <option value="51" {% if '51' in request.args.getlist('size') %} selected {% endif %}>51</option>
                    <option value="51.5" {% if '51.5' in request.args.getlist('size') %} selected {% endif %}>51.5</option>
                    <option value="52.5" {% if '52.5' in request.args.getlist('size') %} selected {% endif %}>52.5</option>
                    <!-- Добавьте другие размеры -->
                </select>
            </div>
            <div class="filter" id="brand-filter">
                <h3>Brand:</h3>
                <select name="brands" onchange="applyFilter('brands', this.value)">
                    <option value="">All</option>
                    <option value="Nike" {% if 'Nike' in request.args.getlist('brands') %} selected {% endif %}>Nike</option>
                    <option value="Jordan" {% if 'Jordan' in request.args.getlist('brands') %} selected {% endif %}>Jordan</option>
                    <option value="New Balance" {% if 'New Balance' in request.args.getlist('brands') %} selected {% endif %}>New Balance</option>
                    <option value="adidas originals" {% if 'adidas originals' in request.args.getlist('brands') %} selected {% endif %}>Adidas originals</option>
                    <option value="Asics" {% if 'Asics' in request.args.getlist('brands') %} selected {% endif %}>Asics</option>
                    <option value="Converse" {% if 'Converse' in request.args.getlist('brands') %} selected {% endif %}>Converse</option>
                    <option value="Reebok" {% if 'Reebok' in request.args.getlist('brands') %} selected {% endif %}>Reebok</option>
                    <option value="Balenciaga" {% if 'Balenciaga' in request.args.getlist('brands') %} selected {% endif %}>Balenciaga</option>
                    <option value="Burberry" {% if 'Burberry' in request.args.getlist('brands') %} selected {% endif %}>Burberry</option>
                    <option value="Crocs" {% if 'Crocs' in request.args.getlist('brands') %} selected {% endif %}>Crocs</option>
                    <option value="FILA" {% if 'FILA' in request.args.getlist('brands') %} selected {% endif %}>FILA</option>
                    <option value="FILA FUSION" {% if 'FILA FUSION' in request.args.getlist('brands') %} selected {% endif %}>FILA FUSION</option>
                    <option value="OFF-WHITE" {% if 'OFF-WHITE' in request.args.getlist('brands') %} selected {% endif %}>OFF-WHITE</option>
                    <option value="PRADA" {% if 'PRADA' in request.args.getlist('brands') %} selected {% endif %}>PRADA</option>
                    <option value="PUMA" {% if 'PUMA' in request.args.getlist('brands') %} selected {% endif %}>PUMA</option>
                    <option value="UGG" {% if 'UGG' in request.args.getlist('brands') %} selected {% endif %}>UGG</option>
                    <option value="Under Armour" {% if 'Under Armour' in request.args.getlist('brands') %} selected {% endif %}>Under Armour</option>
                    <option value="Vans" {% if 'Vans' in request.args.getlist('brands') %} selected {% endif %}>Vans</option>
                    <option value="adidas" {% if 'adidas' in request.args.getlist('brands') %} selected {% endif %}>Adidas</option>
                    <option value="adidas neo" {% if 'adidas neo' in request.args.getlist('brands') %} selected {% endif %}>Adidas neo</option>
                    <option value="Timberland" {% if 'Timberland' in request.args.getlist('brands') %} selected {% endif %}>Timberland</option>
                    <!-- Добавьте другие бренды -->
                </select>
            </div>
            <div class="filter" id="sort-filter">
                <h3>Sort by:</h3>
                <select name="sort" onchange="applyFilter('sort', this.value)">
                    <option value="by-relevance" {% if 'by-relevance' in request.args.getlist('sort') %} selected {% endif %}>by-relevance</option>
                    <option value="cheap-first" {% if 'cheap-first' in request.args.getlist('sort') %} selected {% endif %}>cheap-first</option>
                    <option value="expensive-first" {% if 'expensive-first' in request.args.getlist('sort') %} selected {% endif %}>expensive-first</option>
                </select>
            </div>
        </div>
        <main>
            <h1>Products</h1>
            <div class="products">
                {% for product in products %}
                <div class="product">
                    <a href="{{ product.link }}">
                        <img src="{{ product.image_url }}" alt="{{ product.name }}">
                    </a>
                    <h2>{{ product.name }}</h2>
                    <p>Price: {{ product.price }}RUB</p>
                </div>
                {% endfor %}
            </div>
            <div class="pagination">
                <button onclick="goToPreviousPage()"><</button>
                <button onclick="goToFirstPage()">1</button>
                <span id="currentPage">1</span> <!-- Здесь будет отображаться номер текущей страницы -->
                <button onclick="goToNextPage()">></button>
            </div>            
        </main>
    </div>

    <script>
        function applyFilter(filterType, filterValue) {
            var filters = {};
            var sizeFilters = document.querySelectorAll('select[name="size"]');
            var brandFilters = document.querySelectorAll('select[name="brands"]');
            var sortFilters = document.querySelectorAll('select[name="sort"]');
            
            sizeFilters.forEach(function(filter) {
                filters['size'] = filter.value;
            });
            brandFilters.forEach(function(filter) {
                filters['brands'] = filter.value;
            });
            sortFilters.forEach(function(filter) {
                filters['sort'] = filter.value;
            });

            var queryString = '';
            Object.keys(filters).forEach(function(key) {
                if (filters[key]) {
                    queryString += `${key}=${filters[key]}&`;
                }
            });

            queryString += 'page=1'; // Устанавливаем страницу на первую при применении нового фильтра

            window.location.href = `/?${queryString}`;
        }

        // Функция для получения значения параметра из URL
        function getParameterByName(name, url = window.location.href) {
            name = name.replace(/[\[\]]/g, '\\$&');
            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }

        // Функция для переключения страницы назад
        function goToPreviousPage() {
            var currentPage = parseInt(getParameterByName('page')) || 1;
            if (currentPage > 1) {
                var newPage = currentPage - 1;
                applyPage(newPage);
            }
        }

        // Функция для переключения страницы вперед
        function goToNextPage() {
            var currentPage = parseInt(getParameterByName('page')) || 1;
            var newPage = currentPage + 1;
            applyPage(newPage);
        }

        // Функция для применения новой страницы и обновления URL
        function applyPage(pageNumber) {
            var url = new URL(window.location.href);
            url.searchParams.set('page', pageNumber);
            window.location.href = url.href;
        }
        // Функция для перехода на первую страницу
        function goToFirstPage() {
            applyPage(1);
        }
        // Получение значения параметра "page" из URL
        const urlParams = new URLSearchParams(window.location.search);
        const currentPage = parseInt(urlParams.get('page')) || 1; // Если параметр не указан, устанавливаем текущую страницу в 1

        function updateCurrentPage(pageNumber) {
            document.getElementById('currentPage').textContent = pageNumber;
        }
        // Обновление текущей страницы при загрузке страницы
        window.onload = function() {
            updateCurrentPage(currentPage);
        };
    </script>
</body>
</html>
