<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <title>Homepage</title>
</head>
<body>
    <header>
        {% if not current_user.is_authenticated %}
        <nav>
            <ul>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
            </ul>
        </nav>
        {% else %}
        <p>Welcome, {{ current_user.get_id() }}!</p>
        <form action="{{ url_for('logout') }}" method="get">
            <button type="submit">Logout</button>
        </form>
        {% endif %}
    </header>

    <main>
        <h1>Products</h1>
        <div class="products">
            {% for product in products %}
            <div class="product">
                <a href="{{ product.link }}">
                    <img src="{{ product.image_url }}" alt="{{ product.name }}">
                </a>
                <h2>{{ product.name }}</h2>
                <p>Price: {{ product.price }}RUB</p>
            </div>
            {% endfor %}
        </div>
    </main>
</body>
</html>
